{% extends "layout.html" %}
{% block content %}
  <body class="fade-in-text" style="background-color: #222222;">
  <hr class="mt-1 ml-5 mr-5" size="20" color="#f5f5f7" noshade>
  <section id="title" class="pl-5 pr-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6 call-element padding-right mb-5 pt-2">
                        <ul class="list-inline text-center mb-0 ml-5 mr-5">
                            <H2 class="white-text">Kuluvan päivän puhelut</H2>
                            <li class="list-inline-item">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">Tällä hetkellä</p>
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text big-text">{{ calls }}</h1></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">Tarvitaan</p>
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text big-text">{{ required_calls }}</h1></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">Tavoite</p>
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text big-text">{{ calls_to_goal }}</h1></li>
                                    </ul>
                                </div>
                            </li>
                        {% if calls <= (required_calls * 0.1) %}
                        <img src="static/images/SALESMNGR/bar-empty.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.1) <= calls < (required_calls * 0.2) %}
                        <img src="static/images/SALESMNGR/bar-red-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.2) <= calls < (required_calls * 0.3) %}
                        <img src="static/images/SALESMNGR/bar-red-2.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.3) <= calls < (required_calls * 0.4) %}
                        <img src="static/images/SALESMNGR/bar-red-3.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.4) <= calls < (required_calls * 0.5) %}
                        <img src="static/images/SALESMNGR/bar-red-4.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.5) <= calls < (required_calls * 0.6) %}
                        <img src="static/images/SALESMNGR/bar-yellow-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.6) <= calls < (required_calls * 0.7) %}
                        <img src="static/images/SALESMNGR/bar-yellow-2.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.7) <= calls < (required_calls * 0.8) %}
                        <img src="static/images/SALESMNGR/bar-yellow-3.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.8) <= calls < (required_calls * 0.9) %}
                        <img src="static/images/SALESMNGR/bar-yellow-4.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 0.9) <= calls <= required_calls %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_calls * 1) <= calls %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% endif %}

                        <li class="list-inline-item pt-5">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">14 pv tarjoukset</p>
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text">{{ offers }}</h1></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">Tarvitaan</p>
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text">{{ required_offers }}</h1></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">Tavoite</p>
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text">{{ offers_to_goal }}</h1></li>
                                    </ul>
                                </div>
                            </li>
                        {% if offers <= (required_offers * 0.1) %}
                        <img src="static/images/SALESMNGR/bar-empty.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.1) <= offers < (required_offers * 0.2) %}
                        <img src="static/images/SALESMNGR/bar-red-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.2) <= offers < (required_offers * 0.3) %}
                        <img src="static/images/SALESMNGR/bar-red-2.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.3) <= offers < (required_offers * 0.4) %}
                        <img src="static/images/SALESMNGR/bar-red-3.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.4) <= offers < (required_offers * 0.5) %}
                        <img src="static/images/SALESMNGR/bar-red-4.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.5) <= offers < (required_offers * 0.6) %}
                        <img src="static/images/SALESMNGR/bar-yellow-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.6) <= offers < (required_offers * 0.7) %}
                        <img src="static/images/SALESMNGR/bar-yellow-2.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.7) <= offers < (required_offers * 0.8) %}
                        <img src="static/images/SALESMNGR/bar-yellow-3.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.8) <= offers < (required_offers * 0.9) %}
                        <img src="static/images/SALESMNGR/bar-yellow-4.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 0.9) <= offers <= required_offers %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_offers * 1) <= offers %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% endif %}

                        <li class="list-inline-item pt-5">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">30pv myynti</p>
                                    {% if sales > 999 %}
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text">{{ sales/1000 }}k</h1></li>
                                    {% else %}
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text">{{ sales }}</h1></li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">30pv myynti</p>
                                    {% if sales > 999 %}
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text">{{ required_sales/1000 }}k</h1></li>
                                    {% else %}
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text">{{ required_sales }}</h1></li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div>
                                    <ul class="col list-inline mb-0">
                                      <p class="call-text white-text mb-0">Tavoite</p>
                                      <li class="list-inline-item mb-0"><h1 class="call-text white-text">{{ goal/1000 }}k</h1></li>
                                    </ul>
                                </div>
                            </li>
                        {% if sales <= (required_sales * 0.1) %}
                        <img src="static/images/SALESMNGR/bar-empty.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.1) <= sales < (required_sales * 0.2) %}
                        <img src="static/images/SALESMNGR/bar-red-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.2) <= sales < (required_sales * 0.3) %}
                        <img src="static/images/SALESMNGR/bar-red-2.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.3) <= sales < (required_sales * 0.4) %}
                        <img src="static/images/SALESMNGR/bar-red-3.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.4) <= sales < (required_sales * 0.5) %}
                        <img src="static/images/SALESMNGR/bar-red-4.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.5) <= sales < (required_sales * 0.6) %}
                        <img src="static/images/SALESMNGR/bar-yellow-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.6) <= sales < (required_sales * 0.7) %}
                        <img src="static/images/SALESMNGR/bar-yellow-2.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.7) <= sales < (required_sales * 0.8) %}
                        <img src="static/images/SALESMNGR/bar-yellow-3.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.8) <= sales < (required_sales * 0.9) %}
                        <img src="static/images/SALESMNGR/bar-yellow-4.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 0.9) <= sales <= required_sales %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% elif (required_sales * 1) <= sales %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill" alt="Responsive image">
                        {% endif %}

                    </div>
                    <div class="parent-div col-lg call-element round-div pt-0 pl-4 pr-4 pb-5 mt-2 mb-5 mr-3" style="background-color: #FFFFFF;">
                        <nav>
                            <div>
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <h5 class="call-text nav-name font-weight-bold mr-5 pr-5 pt-3 pb-2 text-right" style="color: black;">{{ current_user.first_and_lastname }}</h5>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="child-div call-element round-div text-left" style="background-color: #f5f5f7;">
                            <div>
                                <h1 class="font-weight-bold ml-5 mt-1">Statsit</h1>
                                <p class="ml-5 mr-5">Statsit kertovat myyntisi eri osa-alueiden tämänhetkisen tilanteen sekä missä olisi mahdollisesti parannettavaa.</p>
                            </div>
                            <div class="col">
                                <li class="list-inline-item  font-weight-bold mb-0 mr-1 ml-5"><p class="ml-0">Viimeisen 21 työpäivän puheluprosentti</p></li>
                                        <li class="list-inline-item mb-0 mr-0 ">
                                            <div class="col text-right pt-5 pr-0 pl-0">
                                                {% if good_percent >= 80 %}
                                                <h2 class="green-text font-weight-bold">{{ good_percent }}</h2>
                                                {% elif good_percent >= 50 %}
                                                <h2 class="font-weight-bold gray-text">{{ good_percent }}</h2>
                                                {% elif good_percent < 50 %}
                                                <h2 class="red-text font-weight-bold">{{ good_percent }}</h2>
                                                {% endif %}
                                            </div>
                                            <li class="list-inline-item  font-weight-bold mb-0"><p> %</p></li>
                                        </li>
                                </li>
                                <ul class="list-inline mb-0 ">
                                        <li class="list-inline-item  font-weight-bold mb-0 mr-1 ml-5"><p>Aktiivisuus</p></li>
                                        <li class="list-inline-item mb-0 mr-0 ">
                                            <div class="col text-right pr-0 pl-0">
                                                {% if two_week_calls >= required_two_week_calls %}
                                                <h2 class="green-text font-weight-bold">5</h2>
                                                {% elif required_two_week_calls > two_week_calls > (required_two_week_calls * 0.85) %}
                                                <h2 class="green-text font-weight-bold">4</h2>
                                                {% elif (required_two_week_calls * 0.85) > two_week_calls > (required_two_week_calls * 0.7) %}
                                                <h2 class="font-weight-bold gray-text">3</h2>
                                                {% elif (required_two_week_calls * 0.7) > two_week_calls > (required_two_week_calls * 0.55) %}
                                                <h2 class="red-text font-weight-bold">2</h2>
                                                {% elif (required_two_week_calls * 1.55) > two_week_calls %}
                                                <h2 class="red-text font-weight-bold">1</h2>
                                                {% endif %}
                                            </div>
                                            <li class="list-inline-item  font-weight-bold mb-0"><p>/5</p></li>
                                        </li>
                                        <li class="list-inline-item  font-weight-bold mb-0 pl-5 ml-1 mr-1"><p>Pitsi</p></li>
                                        <li class="list-inline-item mb-0 mr-0">
                                            <div class="col text-right pr-0 pl-0">
                                                {% if call_to_offer <= ch_call_to_offer %}
                                                <h2 class="green-text font-weight-bold">5</h2>
                                                {% elif ch_call_to_offer < call_to_offer < (ch_call_to_offer * 1.25) %}
                                                <h2 class="green-text font-weight-bold">4</h2>
                                                {% elif (ch_call_to_offer * 1.25) < call_to_offer < (ch_call_to_offer * 1.5) %}
                                                <h2 class="font-weight-bold gray-text">3</h2>
                                                {% elif (ch_call_to_offer * 1.5) < call_to_offer < (ch_call_to_offer * 1.75) %}
                                                <h2 class="red-text font-weight-bold">2</h2>
                                                {% elif (ch_call_to_offer * 1.75) < call_to_offer %}
                                                <h2 class="red-text font-weight-bold">1</h2>
                                                {% endif %}
                                            </div>
                                            <li class="list-inline-item  font-weight-bold mb-0"><p>/5</p></li>
                                        </li>
                                        <li class="list-inline-item  font-weight-bold mb-0 pl-5 ml-1 mr-1"><p>Klousaus</p></li>
                                        <li class="list-inline-item mb-0 mr-0">
                                            <div class="col text-right pr-0 pl-0">
                                                {% if offer_to_sale <= ch_offer_to_sale %}
                                                <h2 class="green-text font-weight-bold">5</h2>
                                                {% elif ch_offer_to_sale < offer_to_sale < (ch_offer_to_sale * 1.25) %}
                                                <h2 class="green-text font-weight-bold">4</h2>
                                                {% elif (ch_offer_to_sale * 1.25) < offer_to_sale < (ch_offer_to_sale * 1.5) %}
                                                <h2 class="font-weight-bold gray-text">3</h2>
                                                {% elif (ch_offer_to_sale * 1.5) < offer_to_sale < (ch_offer_to_sale * 1.75) %}
                                                <h2 class="red-text font-weight-bold">2</h2>
                                                {% elif (ch_offer_to_sale * 1.75) < offer_to_sale %}
                                                <h2 class="red-text font-weight-bold">1</h2>
                                                {% endif %}
                                            </div>
                                            <li class="list-inline-item  font-weight-bold mb-0"><p>/5</p></li>
                                        </li>
                                </ul>
                            </div>
                            <hr class="mt-1 mr-5 ml-5 mt-5 mb-5" size="20" color="#898989" noshade>


                   <!-- <div class="col mngr-bot border border-dark rounded"> -->

                            <h5 class="font-weight-bold ml-5 mr-5">MNGR Bot</h5>
                            <div class="row ml-3 mr-3 ml-5 mr-5">
                                <p class="ml-0">{{ mngr_bot_text }}</p>
                            </div>
                        </div>
                    </div>

  </section>

  <hr class="mt-1 ml-5 mr-5" size="20" color="#f5f5f7" noshade>



  <section id="second-page" class="pl-5 pr-5 font-weight-bold" >
      <div class="row">
          <div class="pt-5 col-lg call-element p-statsit">
                            <div class="row">
                                <div class="col pt-5 pb-5">
                                    <h3>{{ current_user.first_and_lastname }}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Soitto / Tarjous Hit-rate:</p>
                                </div>
                                <div class="col text-right">
                                    <p>1/{{ call_to_offer }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Tarjous / Kauppa Hit-rate:</p>
                                </div>
                                <div class="col text-right">
                                    <p>1/{{ offer_to_sale }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Matkaa seuraavaan bonukseen:</p>
                                </div>
                                <div class="col text-right">
                                    <p>{{ to_bonus }} €</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Myyntiä tulossa sisään:</p>
                                </div>
                                <div class="col text-right">
                                    <p> {{ coming_sales }} €</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Myyntiä viimeisen 30 päivän sisällä:</p>
                                </div>
                                <div class="col text-right">
                                    <p> {{ sales }} €</p>
                                </div>
                            </div>
                        <div class="col-6">

                        </div>
            </div>
          <div class="col-1">

          </div>
          <div class="pt-5 col-lg call-element p-statsit">
                            <div class="row">
                                <div class="col pt-5 pb-5">
                                    <h3>Tavoitteet</h3>
                                </div>
                            </div>
                            <div class="row ml-0">
                                <form method="POST" action="">
                                    {{ form.hidden_tag() }}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Tavoite</legend>
                                        <div class="form-group">
                                            {{ form.goal_num.label(class="form-control-label") }}

                                            {% if form.goal_num.errors %}
                                                {{ form.goal_num(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.goal_num.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.goal_num(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                </form>
                            </div>
                            <div class="row">

                        <div class="col-6">

                        </div>
            </div>
      </div>
</section>
  <hr class="mt-1 ml-5 mr-5" size="20" color="#f5f5f7" noshade>
</body>
{% endblock content %}