{% extends "layout.html" %}
{% block content %}
  <body class="fade-in-text">
      <div class="container-fluid pl-0 pr-0">
    <hr class="mt-1" size="20" color="#f5f5f7" noshade>
  <section id="title" class="pl-5 pr-5 pb-5">
                <div class="row pb-5">
                    <div class="col-lg-6 text-center call-element">
                        {% if calls < (required_calls * 0.1) %}
                        <img src="static/images/SALESMNGR/bar-empty.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.1) < calls < (required_calls * 0.2) %}
                        <img src="static/images/SALESMNGR/bar-red-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.2) < calls < (required_calls * 0.3) %}
                        <img src="static/images/SALESMNGR/bar-red-2.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.3) < calls < (required_calls * 0.4) %}
                        <img src="static/images/SALESMNGR/bar-red-3.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.4) < calls < (required_calls * 0.5) %}
                        <img src="static/images/SALESMNGR/bar-red-4.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.5) < calls < (required_calls * 0.6) %}
                        <img src="static/images/SALESMNGR/bar-yellow-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.6) < calls < (required_calls * 0.7) %}
                        <img src="static/images/SALESMNGR/bar-yellow-2.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.7) < calls < (required_calls * 0.8) %}
                        <img src="static/images/SALESMNGR/bar-yellow-3.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.8) < calls < (required_calls * 0.9) %}
                        <img src="static/images/SALESMNGR/bar-yellow-4.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 0.9) < calls <= required_calls %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_calls * 1) < calls %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% endif %}

                        <ul class="list-inline">
                          <li class="list-inline-item pl-4 pr-3"><p class="call-text">Tänään: {{ calls }} kpl</p></li>
                          <li class="list-inline-item pl-3 pr-3"><p class="call-text">Tarvitaan: {{ required_calls }} kpl</p></li>
                          <li class="list-inline-item pl-3 pr-3"><p class="call-text">Tavoite: 13 kpl</p></li>
                        </ul>
                        {% if offers < (required_offers * 0.1) %}
                        <img src="static/images/SALESMNGR/bar-empty.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.1) < offers < (required_offers * 0.2) %}
                        <img src="static/images/SALESMNGR/bar-red-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.2) < offers < (required_offers * 0.3) %}
                        <img src="static/images/SALESMNGR/bar-red-2.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.3) < offers < (required_offers * 0.4) %}
                        <img src="static/images/SALESMNGR/bar-red-3.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.4) < offers < (required_offers * 0.5) %}
                        <img src="static/images/SALESMNGR/bar-red-4.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.5) < offers < (required_offers * 0.6) %}
                        <img src="static/images/SALESMNGR/bar-yellow-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.6) < offers < (required_offers * 0.7) %}
                        <img src="static/images/SALESMNGR/bar-yellow-2.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.7) < offers < (required_offers * 0.8) %}
                        <img src="static/images/SALESMNGR/bar-yellow-3.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.8) < offers < (required_offers * 0.9) %}
                        <img src="static/images/SALESMNGR/bar-yellow-4.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 0.9) < offers <= required_offers %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_offers * 1) < offers %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% endif %}

                        <ul class="list-inline">
                          <li class="list-inline-item pl-3 pr-2"><p class="call-text">Tällä hetkellä (2vk): {{ offers }} kpl</p></li>
                          <li class="list-inline-item pl-2 pr-2"><p class="call-text">Tarvitaan (2vk): {{ required_offers }} kpl</p></li>
                          <li class="list-inline-item pl-2 pr-2"><p class="call-text">Tavoite (2vk): 13 kpl</p></li>
                        </ul>
                        {% if sales < (required_sales * 0.1) %}
                        <img src="static/images/SALESMNGR/bar-empty.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.1) < sales < (required_sales * 0.2) %}
                        <img src="static/images/SALESMNGR/bar-red-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.2) < sales < (required_sales * 0.3) %}
                        <img src="static/images/SALESMNGR/bar-red-2.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.3) < sales < (required_sales * 0.4) %}
                        <img src="static/images/SALESMNGR/bar-red-3.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.4) < sales < (required_sales * 0.5) %}
                        <img src="static/images/SALESMNGR/bar-red-4.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.5) < sales < (required_sales * 0.6) %}
                        <img src="static/images/SALESMNGR/bar-yellow-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.6) < sales < (required_sales * 0.7) %}
                        <img src="static/images/SALESMNGR/bar-yellow-2.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.7) < sales < (required_sales * 0.8) %}
                        <img src="static/images/SALESMNGR/bar-yellow-3.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.8) < sales < (required_sales * 0.9) %}
                        <img src="static/images/SALESMNGR/bar-yellow-4.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 0.9) < sales <= required_sales %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% elif (required_sales * 1) < sales %}
                        <img src="static/images/SALESMNGR/bar-green-1.png" class="img-fluid call-bar-1 rounded-pill mt-3" alt="Responsive image">
                        {% endif %}

                        <ul class="list-inline">
                          <li class="list-inline-item pl-4 pr-3"><p class="call-text">Tällä hetkellä: {{ sales }} €</p></li>
                          <li class="list-inline-item pl-3 pr-3"><p class="call-text">Tarvitaan: {{ required_sales }} €</p></li>
                          <li class="list-inline-item pl-3 pr-3"><p class="call-text">Tavoite: 30 000 €</p></li>
                        </ul>
                    </div>
                    <div class="col call-element ">
                    </div>
                    <div class="col-lg-5 call-element">
                        <div class="row">
                            <div class="col pt-5">
                                <h2>AKTIIVISUUS</h2>
                            </div>
                            <div class="col text-right pt-5">
                                {% if two_week_calls >= required_two_week_calls %}
                                <h2>5 / 5</h2>
                                {% elif required_two_week_calls > call_to_offer > (ch_call_to_offer * 0.85) %}
                                <h2>4 / 5</h2>
                                {% elif (required_two_week_calls * 0.85) > call_to_offer > (ch_call_to_offer * 0.7) %}
                                <h2>3 / 5</h2>
                                {% elif (required_two_week_calls * 0.7) > call_to_offer > (ch_call_to_offer * 0.55) %}
                                <h2>2 / 5</h2>
                                {% elif (ch_call_to_offer * 1.55) > call_to_offer %}
                                <h2>1 / 5</h2>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2>PITSI</h2>
                            </div>
                            <div class="col text-right">
                                {% if call_to_offer <= ch_call_to_offer %}
                                <h2>5 / 5</h2>
                                {% elif ch_call_to_offer < call_to_offer < (ch_call_to_offer * 1.25) %}
                                <h2>4 / 5</h2>
                                {% elif (ch_call_to_offer * 1.25) < call_to_offer < (ch_call_to_offer * 1.5) %}
                                <h2>3 / 5</h2>
                                {% elif (ch_call_to_offer * 1.5) < call_to_offer < (ch_call_to_offer * 1.75) %}
                                <h2>2 / 5</h2>
                                {% elif (ch_call_to_offer * 1.75) < call_to_offer %}
                                <h2>1 / 5</h2>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col pb-5">
                                <h2>KLOUSAUS</h2>
                            </div>
                            <div class="col text-right">
                                {% if offer_to_sale <= ch_offer_to_sale %}
                                <h2>5 / 5</h2>
                                {% elif ch_offer_to_sale < offer_to_sale < (ch_offer_to_sale * 1.25) %}
                                <h2>4 / 5</h2>
                                {% elif (ch_offer_to_sale * 1.25) < offer_to_sale < (ch_offer_to_sale * 1.5) %}
                                <h2>3 / 5</h2>
                                {% elif (ch_offer_to_sale * 1.5) < offer_to_sale < (ch_offer_to_sale * 1.75) %}
                                <h2>2 / 5</h2>
                                {% elif (ch_offer_to_sale * 1.75) < offer_to_sale %}
                                <h2>1 / 5</h2>
                                {% endif %}
                            </div>
                        </div>

               <!-- <div class="col mngr-bot border border-dark rounded"> -->
                        <div class="row">
                            <div class="col mngr-bot border border-dark rounded">
                                <p class="font-weight-normal ">MNGR bot: {{ mngr_bot_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>

  </section>





  <section id="second-page" class="pl-5 pr-5 font-weight-bold">
      <div class="row">
          <div class="col-lg call-element p-statsit">
                            <div class="row">
                                <div class="col pt-5 pb-5">
                                    <h3>{{ user }}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Soitto / Tarjous Hit-rate:</p>
                                </div>
                                <div class="col text-right">
                                    <p>1/{{ call_to_offer }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Tarjous / Kauppa Hit-rate:</p>
                                </div>
                                <div class="col text-right">
                                    <p>1/{{ offer_to_sale }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Matkaa seuraavaan bonukseen:</p>
                                </div>
                                <div class="col text-right">
                                    <p>{{ to_bonus }} €</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Kauppaa tulossa sisään:</p>
                                </div>
                                <div class="col text-right">
                                    <p> {{ coming_sales }} €</p>
                                </div>
                            </div>
                        <div class="col-6">

                        </div>
            </div>
          <div class="col-1">

          </div>
          <div class="col-lg call-element p-statsit">
                            <div class="row">
                                <div class="col pt-5 pb-5">
                                    <h3>Tavoitteet & Arvostelu.</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Paljonko haluat myydä kuukaudessa?</p>
                                </div>
                                <form action="/tavoite" method="post">
                                    <input type="text" placeholder="€" name="sales_in_month">
                                    <button type="submit">Käytä</button>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-margin">Jätä kommentti / arvostelu:</p>
                                </div>
                                <form name="sentMessage" id="contactForm" action="/email" method="post" novalidate>
                                    <div class="input-group">
                                      <textarea rows="3" name="message" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                        <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-outline-dark" id="sendMessageButton">Lähetä</button>
                                      </div>
                                    </div>
                                </form>

                        <div class="col-6">

                        </div>
            </div>
      </div>
</section>
</body>
{% endblock content %}