{% extends "layout.html" %}
{% block content %}
<body class="fade-in-text">
<div id="filldiv" class="col bgImgCenter">
    <div class="pl-5 pt-5 col-lg-5">
        <H1 class="white-text">Let's break it down!</H1>
        <H1 class="white-text mb-4">SalesMNGR auttaa purkamaan myyyntisi osiin, jotta pystyt näkemään missä osa-alueissa myyntisi kaipaa hiomista.</H1>
        <a href="{{ url_for('login') }}" type="button" class="btn btn-light btn-lg">Let's Go!</a>
    </div>
</div>
</body>
{% endblock content %}